<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tricerionservices.laundrize" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.tricerionservices.laundrize.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tricerionservices.laundrize.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <supports-screens android:resizeable="true" android:largeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name="com.tricerionservices.laundrize.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tricerionservices.laundrize.activities.LandingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.tricerionservices.laundrize.activities.LogInOrRegisterActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.tricerionservices.laundrize.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            />
        <activity android:name="com.tricerionservices.laundrize.activities.RegisterActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.tricerionservices.laundrize.activities.MobileVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MobileVerificationTheme"
            />
        <activity android:name="com.tricerionservices.laundrize.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />



        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.ascenttechnovation.gcmdelete" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.tricerionservices.laundrize.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.tricerionservices.laundrize.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name="com.tricerionservices.laundrize.gcm.RegistrationIntentService"
            android:exported="false"/>


    </application>

</manifest>
